<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>GLOBE - Trends in a nutshell</title>

    <!-- Favicon -->
    <link rel="icon" href="img/core-img/airflare.ico">

    <!-- Core Stylesheet -->
    <link href="style.css" rel="stylesheet">

    <!-- Responsive CSS -->
    <link href="css/responsive.css" rel="stylesheet">

</head>

<body>
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="selene-preloader"></div>
    </div>

    <section class="welcome_area clearfix" id="home">

        <!-- Shape -->
        <div class="welcome-bg-shape">
            <img class="welcome-first-shape" src="img/core-img/welcome-bg-1.png" alt="">
            <img class="welcome-second-shape" src="img/core-img/welcome-bg-2.png" alt="">
        </div>

        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 col-md-7">
                    <div class="welcome-content">
                        <h2><span>GLOBE</span> APP</h2>
                        <h4>If you want to know what is happening in your area.
                        It's the fastest way to figure out trends, issues, news by location. </h4>
                    </div>
                    <div class="app-download-area">
                        <div class="app-download-btn active">
                            <!-- Google Store Btn -->
                            <a href="#"><i class="fa fa-android"></i><p class="mb-0"><span>available on</span> Google Store</p></a>
                        </div>
                        <div class="app-download-btn">
                            <!-- Apple Store Btn -->
                            <a href="#"><i class="fa fa-apple"></i><p class="mb-0"><span>available on</span> Apple Store</p></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Mobile Device -->
        <div class="welcome-mobile-device text-right">
            <img src="img/core-img/logo-phone-high.png" alt="">
            <img src="img/core-img/logo-phone-high-cards.png" alt="">
        </div>
    </section>

    <!-- ***** Footer Area End ***** -->

    <!-- jQuery-2.2.4 js -->
    <script src="js/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="js/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>
</body>

</html>